.tagListContainer {
  width: 100%;
  display: flex;
  padding-left: 0.25rem;
}

.tagList {
  width: 100%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: contain;
}

.tagList:hover {
  overflow-x: auto;
}

.tagList .tag {
  padding-right: 0.25rem;
  display: inline-block;
}

.addContainer {
  display: inline-block;
}

.addInput {
  font-size: 0.8rem;
  width: 8rem;
  height: 1.55rem;
  border-width: 1px;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  outline: none;
}

.addInput:focus {
  border-color:aliceblue
}

.editButton {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  stroke: white;
  stroke-width: 2px;
}

.saveButton {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  fill: white;
  stroke-width: 1px;
}
