.tagListContainer {
  width: 100%;
  display: flex;
}

.tagList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tagList .tag {
  padding: 0 0.25rem 0.25rem 0;
}

.addContainer {
  display: flex;
}

.addInput {
  font-size: 0.8rem;
  width: 8rem;
  height: 1.55rem;
  border-width: 1px;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0 0.5rem;;
}

.addButton {
  width: 1.6rem;
  height: 1.6rem;
  fill: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.addButton:hover {
  fill: rgba(255, 255, 255, 0.4);
}

.editButton {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  stroke: white;
  stroke-width: 2px;
}

.saveButton {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  fill: white;
  stroke-width: 1px;
}
