@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(17, 94, 89);
  --hover-primary-color: rgb(15, 118, 110);
  --disabled-primary-color: rgb(4, 47, 46);
  --secondary-text-color: rgba(255, 255, 255, 0.6);
}

.button {
  @apply border text-center border-slate-300 text-slate-300 py-1 px-1 rounded hover:bg-slate-700 focus-within:bg-slate-700 outline-none;
  min-width: 5rem;
}

.button.icon {
  min-width: 0;
  width: 2rem;
  height: 2rem;
}

.button.primary {
  background-color: var(--primary-color);
}

.button.primary:hover,
.button.primary:focus-within {
  background-color: var(--hover-primary-color);
}

.button.primary:disabled {
  background-color: var(--disabled-primary-color);
}

.button-max {
  width: 100%
}

.secondaryText {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.label-small {
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #d6dee1
}